<xf:textboxrow name="options[hostname]" value="{$options.hostname}"
	label="{{ phrase('hostname') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_hostname_explain') }}" />

<xf:numberboxrow name="options[slot_id]" value="{$options.slot_id}"
	label="{{ phrase('slot_id') }}"
	hint="{{ phrase('optional') }}"
	min="0"
	max="9"
	explain="{{ phrase('con_acc_sqrl_slot_id_explain') }}" />

<xf:textboxrow name="options[private_hostname]" value="{$options.private_hostname}"
	label="{{ phrase('private_hostname') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_private_hostname_explain') }}" />

<xf:textboxrow name="options[private_port]" value="{$options.private_port}"
	label="{{ phrase('private_port') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_private_port_explain') }}" />
