<xf:textboxrow name="options[query_hostname]" value="{$options.query_hostname}"
	label="{{ phrase('hostname') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_hostname_explain') }}" />

<xf:textboxrow name="options[public_query_url]" value="{$options.public_query_url}"
	label="{{ phrase('public_query_url') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_public_query_url_explain') }}" />

<xf:textboxrow name="options[private_query_url]" value="{$options.private_query_url}"
	label="{{ phrase('private_query_url') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_private_query_url_explain') }}" />

<xf:textboxrow name="options[private_query_port]" value="{$options.private_query_port}"
	label="{{ phrase('private_query_port') }}"
	hint="{{ phrase('required') }}"
	explain="{{ phrase('con_acc_sqrl_private_query_port_explain') }}" />
