@font-face {
	font-family: 'sqrl';
	src: url('{{ property('sqrlAsset') }}/font/sqrl.eot?1');
	src: url('{{ property('sqrlAsset') }}/font/sqrl.eot?1#iefix') format('embedded-opentype'),
		url('{{ property('sqrlAsset') }}/font/sqrl.woff?1') format('woff'),
		url('{{ property('sqrlAsset') }}/font/sqrl.ttf?1') format('truetype'),
		url('{{ property('sqrlAsset') }}/font/sqrl.svg?1#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sqrl-container {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	> * {
		display: block;
	}

	> span {
		margin: 0 15px;
	}

	img {
		width: 66px;
		height: 66px;
	}
}	

.sqrl-block-body .formRow.formRow--button > dt {
	padding-top: 15px;
	vertical-align: middle;
}

.sqrl-verify-block-body {
	.sqrl-container {
		justify-content: center;
	}
}

button.button--provider--sqrl > .button-text:before, a.button.button--provider--sqrl > .button-text:before {
	font: normal normal normal 18px/1 sqrl;
	content: "\e900";
	/* content: "\e901"; */
}