<xf:macro name="register_header" arg-data="!">
	<xf:if is="$data is not empty">
		<div class="block">
			<div class="block-container">
				<div class="block-body sqrl-block-body">
					<xf:formrow rowtype="button" label="{{ phrase('register_instantly_using') }}">
						<xf:macro template="sqrl_macros" name="sqrl_bit" arg-data="{$data}" />
					</xf:formrow>
				</div>
			</div>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="login_header" arg-data="!">
		<xf:if is="$data is not empty">
			<div class="block">
				<div class="block-container">
					<div class="block-body sqrl-block-body">
						<xf:formrow rowtype="button" label="{{ phrase('log_in_instantly_using') }}">
							<xf:macro template="sqrl_macros" name="sqrl_bit" arg-data="{$data}" />
						</xf:formrow>
					</div>
				</div>
			</div>

			<div class="blocks-textJoiner"><span></span><em>{{ phrase('or_separator') }}</em><span></span></div>
		</xf:if>
</xf:macro>

<xf:macro name="account_connected_account" arg-data="!">
		<xf:if is="$data is not empty">
			<xf:macro template="sqrl_macros" name="sqrl_bit" arg-data="{$data}" />
		</xf:if>
</xf:macro>

<xf:macro name="sqrl_bit" arg-data="!">
	<div
		data-xf-init="sqrl-login"
		data-hostname="{$data.options.hostname}"
		class="sqrl-container"
	>
		<xf:button href="sqrl://todo" class="button--provider button--provider--{$data.provider_id}">
			{{ phrase('con_acc.sqrl') }}
		</xf:button>
		<span>
			&larr; Click or scan SQRL QR code &rarr;
		</span>
		<img />
	</div>
	<xf:js src="sqrl.js" />
	<xf:css src="sqrl.less" />
</xf:macro>
